@font-face {
    font-family: MyFont;
    src: url("/font.ttf");
}

html {
    font-family: Cantarell, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    text-shadow: 0 0 4px #ddd;
    /*background: center / contain no-repeat url("/img/background.png"), #ffa500;*/
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background-color: black;
}

* {
    transition: all 300ms;
    z-index: 2;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(4px);
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title {
    text-align: center;
    font-family: MyFont;
    padding: 2rem 0;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 3rem;
}

.game {
    padding: 8px;
    margin: 12px;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 4px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.game:hover {
    transform: scale(1.3, 1.3);
    box-shadow: 0 0 6px 2px #000;
    z-index: 4;
}

.game-desc {
    opacity: 0;
    height: 0;
}

.game:hover > .game-desc {
    opacity: 100%;
    height: 4rem;
}

.game-icon {
    display: block;
    height: 5rem;
}

.game:hover > .game-icon {
    height: 4rem;
}

.game-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: contrast(50%) brightness(140%);
    opacity: 70%;
}

.game:hover > .game-bg {
    filter: contrast(25%) brightness(150%);
    opacity: 100%;
}

.game > .game-input {
    display: none;
}

