<label class="game">
    <img class="game-icon" src="/img/logos/stk.png" alt="">
    <span class="game-desc">
        SuperTuxKart est un jeu de course en 3D open-source avec une grande variété de personnages, de circuits et de modes de jeu.
    </span>
    <img class="game-bg" src="/img/backgrounds/supertuxkart.png" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/supertuxkart.sh')"/>
</label>