<label class="game">
    <img class="game-icon" src="/img/logos/supertux.png" alt="">
    <span class="game-desc">
        Supertux est un jeu de plates-formes en 2D mettant en scène Tux, mascotte de Linux.
        À travers de multiples décors, sauvez l'âme soeur de Tux dans ce jeu fun et divertissant.
    </span>
    <img class="game-bg" src="/img/backgrounds/supertux.png" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/supertux.sh')"/>
</label>