<label class="game">
    <img class="game-icon" src="/img/logos/teeworlds.png" alt="">
    <span class="game-desc">
        Teeworlds est un jeu de tir TPS multijoueur en 2D disposant d'une variété de modes de jeux
    </span>
    <img class="game-bg" src="/img/backgrounds/teeworlds.png" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/teeworlds.sh')"/>
</label>