<label class="game">
    <img class="game-icon" src="/img/logos/tsc.png" alt="">
    <span class="game-desc">
        The Secret Chronicles of Dr. M (TSC) est un jeu de plates-formes en 2D avec un grand nombre de niveaux ainsi que d'une physique riche.
    </span>
    <img class="game-bg" src="/img/backgrounds/tsc.png" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/tsc.sh')"/>
</label>