<label class="game">
    <img class="game-icon" src="/img/logos/warzone.png" alt="">
    <span class="game-desc">
                    Warzone2100 est un jeu de stratégie en temps-réel futuriste où vous devez vous battre pour reconquérir le monde après une apocalypse.
                </span>
    <img class="game-bg" src="/img/backgrounds/warzone.png" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/warzone.sh')"/>
</label>