<label class="game">
    <img class="game-icon" src="/img/logos/wesnoth.png" alt="">
    <span class="game-desc">
        The Battle for Wesnoth est un jeu de stratégie tour-par-tour dans un monde médiéval fantastique, aux graphismes et musiques riches.
    </span>
    <img class="game-bg" src="/img/backgrounds/wesnoth.jpg" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/wesnoth.sh')"/>
</label>