<label class="game">
    <img class="game-icon" src="/img/logos/xonotic.png" alt="">
    <span class="game-desc">
        Xonotic est un jeu de tir à la première personne addictif, de style arène, avec des mouvements précis et un large éventail d'armes.
    </span>
    <img class="game-bg" src="/img/backgrounds/xonotic.jpg" alt=""/>
    <input class="game-input" type="button" onclick="fetch('/cgi-bin/xonotic.sh')"/>
</label>